html,
body {
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  color: white;
}
.nav-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 30px; /* espacio a la izquierda para el hongo */
}

.mushroom {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  display: none;
}

.active .mushroom {
  display: block;
}
