body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #4daf51;
}
h1{
    color: white;
    letter-spacing: 0.6px;
    padding: 15px 0 15px 0;
    font-size: 35px;
}
h2{
    font-size: 23px;
}
.navbar{
    display: flex;
    background-color: #333333;
    padding: 20px 25px;
    color: white;
    margin: 0;
    gap: 30px;
    list-style-type: none;

}
main{
    background-color: #fbead7;
    height: 350px;
    position: relative;
    margin-top: -20px;
}
.hero-section{
    padding: 20px 0 0 20px;
} 
button{
    background-color: #4daf51;
    border: none;
    color: white;
    border-radius: 4px;
    height: 38px;
    width: 80px;
    cursor: pointer;
    margin-left: 20px;
}
img{
    position: absolute;
    top: 75px;
    right: 25px;
}
section{
    margin-left: 20px;
    margin-bottom: 30px;
}
.contenedor{
    background-color: #f5f4f5;
    border: 1px solid #d6d5d6;

}
.lista{
    gap: 5px;
    padding-left: 60px;
}
p{
    padding-left: 20px;
}
footer{   
    text-align: center; 
    background-color: #333333;
    color: white;
    padding: 10px 0;
}
